.vacancies-table-header {
    margin-bottom: 30px;
}

.vacancies-table-header h2 {
    font-weight: 700;
}

.select-wrap {
    padding: 8px 5rem 8px 20px;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--clay);
    color: var(--black);
    margin-right: 30px;
}

.select-wrap:focus,
.select-wrap:hover,
.select-wrap:active {
    border-color: var(--black);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.vacancies-table {
    border: 1px solid var(--clay);
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
}

.vacancies-table thead tr>th {
    padding: 20px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--clay);
}

.vacancies-table td {
    padding: 10px;
    color: var(--black);
}

.table>:not(caption)>*>* {
    border-bottom-width: 0;
}

.vacancies-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid var(--clay);
}

.custom-dropdown .dropdown-toggle::after {
    display: none;
}

.custom-dropdown .btn {
    padding: 5px 2px;
    border: 1px solid transparent;
}

.custom-dropdown .btn:active,
.custom-dropdown .btn:focus,
.custom-dropdown .btn:hover {
    border-radius: 5px;
    background-color: var(--white);
    border-color: var(--clay);
    outline: none;
}

.custom-dropdown {
    margin-left: auto;
}

.more-icon {
    color: var(--clay-shade-4);
}

.custom-dropdown .dropdown-menu {
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid transparent;
    background-color: var(--white);
    border-radius: 10px;
    padding: 0;
}

.custom-dropdown .dropdown-item {
    font-size: 18px;
    color: var(--black);
    padding: 10px 20px;
    font-weight: 400;
    word-break: break-word;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.custom-dropdown .dropdown-item:active,
.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
    background-color: var(--gray-tint-4);
}

.status-label {
    border: 1px solid transparent;
    border-color: var(--dark-tint-1);
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--dark-tint-1);
    border-radius: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    text-transform: uppercase;
}

.custom-dropdown .date-col {
    color: var(--clay-shade-4) !important;
}

.custom-dropdown .table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: var(--gray-tint-5);
    color: var(--black);
}

/* media query */

@media screen and (max-width:767px) {
    .custom-dropdown-spacing {
        margin-bottom: 25px;
    }

    .vacancies-table-header {
        margin-bottom: 15px;
    }
}