.date-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}
.date-news-container span {
  line-height: 1;
  position: relative;
}
.date-news-container span:not(:first-child) {
  margin-left: 5px;
  padding-left: 5px;
}
.date-news-container span:not(:first-child)::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50px;
  top: 45%;
  left: -7px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--rose);
}
.date-news-container {
  color: var(--rose);
  font-weight: 500;
}
.date-news {
  color: var(--rose);
  font-weight: 500;
}
.sustainable-dev-text-wrap {
  max-width: 636px;
  margin: auto;
}
.sustainable-dev-caption-text {
  line-height: 1.56;
}
.sustainable-dev-title-wrap {
  margin-top: 24px;
  margin-bottom: 32px;
}
.sustainable-dev-card {
  padding: 40px 40px 60px 40px;
  border-radius: 20px;
  background-color: #e2ecc9;
}
.sustainable-dev-content-container {
  max-width: 636px;
  margin: auto;
}
.sustainable-dev-content-text p {
  line-height: 1.63;
}
.sustainable-dev-content-text {
  margin-top: 60px;
  margin-bottom: 60px;
}
.play-icon {
  cursor: pointer;
}
.sustainable-dev-img-wrap img {
  border-radius: 10px;
}
.Maatschappelijk-title {
  margin-bottom: 16px;
}
.Maatschappelijk-wrap {
  margin-top: 80px;
  margin-bottom: 32px;
}
.sdg-wrap > div:not(:last-child) {
  margin-bottom: 22px;
}
.quote-text {
  max-width: 579px;
  line-height: 1.83;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 125px;
}
.sustainable-dev-text-content {
  margin-top: 32px;
}
.idea-wrapper {
  padding: 60px;
  background-color: #e2ecc9;
  border-radius: 10px;
  max-width: 850px;
  margin: 8rem auto 12rem;
}
.idea-description {
  max-width: 736px;
  margin: auto;
  line-height: 1.56;
}
.sustainable-dev {
  padding-top: 40px;
}

/* cards start  */
.topical-card-wrap {
  transition: 0.3s all;
}

.topical-card-wrap:hover .custon-card {
  box-shadow: 0 0 24px 0 rgba(226, 236, 201, 0.42);
}

.custon-card {
  background-color: var(--white);
  overflow: hidden;
  border-radius: 10px;
}

.img-parent {
  position: relative;
  padding-bottom: 55%;
}

.img-parent .card-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--light-gray);
}
.custon-card .custom-card-body {
  padding: 3.2rem 3.2rem 4rem 3.2rem;
}

.custon-card .custom-card-body p {
  color: var(--rose);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.custon-card .custom-card-body .dot {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  background-color: var(--rose);
  border-radius: 50%;
  text-align: justify;
  margin: 0 8px;
}
.card-title {
  max-width: 462px;
  margin-bottom: 32px;
}
.lees-title-wrap {
  margin-bottom: 40px;
}
.custon-card {
  min-height: 441px;
}
/* cards end  */

/* responsive media query */

@media screen and (max-width: 1599px) {
  .sustainable-dev-content-text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .Maatschappelijk-wrap {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .sustainable-dev-text-content {
    margin-top: 25px;
  }
  .quote-text {
    margin-top: 60px;
    margin-bottom: 85px;
  }
  .lees-title-wrap {
    margin-bottom: 30px;
  }
  .card-title {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1439px) {
  .custon-card .card-title {
    font-size: 21px;
  }
}

@media screen and (max-width: 1365px) {
  .custon-card .card-title {
    max-width: 100%;
  }
  .sustainable-dev-card {
    padding: 40px 40px 40px 40px;
  }
  .Maatschappelijk-wrap {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .idea-wrapper {
    padding: 50px;
  }
  .quote-text {
    margin-top: 40px;
    margin-bottom: 45px;
  }
}
@media only screen and (max-width: 1279px) {
  .lees-title-wrap {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .custon-card {
    min-height: 100%;
  }
  .Maatschappelijk-title {
    margin-bottom: 10px;
  }
  .quote-text {
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .idea-wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 991px) {
  .custon-card .card-title {
    font-size: 18px;
  }
  .Maatschappelijk-wrap {
    margin-top: 30px;
  }
  .sustainable-dev-content-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sdg-wrap > div:not(:last-child) {
    margin-bottom: 12px;
  }
  .sustainable-dev-title-wrap {
    margin-top: 14px;
    margin-bottom: 22px;
  }
  .sustainable-dev-card {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .sustainable-dev-content-container {
    max-width: 100%;
    margin: auto;
  }
  .sustainable-dev-title-wrap {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .Maatschappelijk-wrap {
    margin-top: 20px;
  }
  .Maatschappelijk-title {
    margin-bottom: 5px;
  }
  .sustainable-dev-text-content {
    margin-top: 20px;
  }
  .quote-text {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .idea-wrapper {
    padding: 20px;
  }
  .sustainable-dev {
    padding-top: 20px;
  }
}

@media screen and (max-width: 575px) {
  .sustainable-dev-title-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sustainable-dev-card {
    padding: 25px;
  }

  .idea-wrapper {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .sustainable-dev-card {
    padding: 10px;
  }
  .sustainable-dev-content-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .quote-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .quote-text {
    line-height: 1.4;
  }
  .lees-title-wrap {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 350px) {
  .custom-card-body p {
    font-size: 12px;
  }
  .custon-card .card-title {
    font-size: 16px;
  }
  .sdg-wrap > div:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 320px) {
  .Maatschappelijk-wrap {
    margin-bottom: 15px;
  }
  .custon-card .custom-card-body {
    padding: 2rem 2rem 2rem 2rem;
  }
}
